page-home {
   
    $segment-button-ios-text-color: color($colors, bg-homecolor);
    .segment-button {
        color: $segment-button-ios-text-color;
    }
    #entire-bible {
        
        //width: 760px;
        //height: 300px;
        //overflow: auto;
        //overflow-x: scroll;
        //margin: 0 auto;
        /*
        width: 200px;
        height: 300px;
        overflow-x: scroll;
         
        Apple iPAD 9.7 P
        width: 50; 
        height: 50;
        overflow-x: scroll;*/
    }
    
    /*
    @media (max-width: 1500px) {
        .divChart {
            width: 500; 
            height: 500;
            overflow-x: scroll;
        }
    }
    */
}
