page-forgotpassword {
  #forgotpassword{
      background: color($colors, bg-white);
      h1{
          font-size: 20px;
          margin-top:5px;
          color: color($colors, bg-secondary);
      }
      h2{
          font-size: 12px;
          margin-top:5px;
          color: color($colors, bg-secondary);
      }
      button {
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .marginTop{
          margin-top:75px;
      }
      .logo{
          margin-top:75px;
          height: 25px;
      }
  }
}
