page-menu {
  #menu{
      background: color($colors, bg-homecolor-dark);
      h1{
          font-size: 24px;
          margin-top:75px;
          color: color($colors, primary);
      }
      h2{
          font-size: 14px;
          margin-top:5px;
          color: color($colors, bg-homecolor);
      }
      .marginTop{
          margin-top:75px;
      }
      .logo{
          margin-top:75px;
          height: 25px;
      }
  }
}
